<div class="main_container">
<!-- HEADER HTML -->
		<header div="header_container">
			<%= image_tag "headertext1.png", class: "img-responsive", id: "header_text" %>
		</header>
</div>
<!-- NAV BAR HTML -->
<%= render partial: 'layouts/navbar' %>

<!-- SECOND CONTAINER -->
	<div id="second_container">
<!-- CAROUSEL HTML -->
		<div id="carousel1" class="carousel slide container" data-ride="carousel">
		  <!-- Indicators -->
		  <ol class="carousel-indicators">
		    <li data-target="#carousel1" data-slide-to="0" class="active"></li>
		    <li data-target="#carousel1" data-slide-to="1"></li>
		    <li data-target="#carousel1" data-slide-to="2"></li>
		    <li data-target="#carousel1" data-slide-to="3"></li>
		  </ol>

		  <!-- Wrapper for slides -->
		  <div class="carousel-inner">
		    <div class="item active">
		      <%= image_tag "nicoleandbrett-352.jpg" %>
		      <div class="carousel-caption">
		    
		      </div>
		    </div>
		    <div class="item">
		      <%= image_tag "nicoleandbrett-1192.jpg" %>
		      <div class="carousel-caption">
		    
		      </div>
		    </div>
		    <div class="item">
		      <%= image_tag "nicoleandbrett-199.jpg" %>
		      <div class="carousel-caption">
		    
		      </div>
		    </div>
		    <div class="item">
		      <%= image_tag "nicoleandbrett-1832.jpg" %>
		      <div class="carousel-caption">
		    
		      </div>
		    </div>
		  </div>

		  <!-- Controls -->
		  <a class="left carousel-control" href="#carousel1" role="button" data-slide="prev">
		    <span class="glyphicon glyphicon-chevron-left"></span>
		  </a>
		  <a class="right carousel-control" href="#carousel1" role="button" data-slide="next">
		    <span class="glyphicon glyphicon-chevron-right"></span>
		  </a>
		</div>
	</div>


<!-- BACKGROUND BREAK -->
	<div id="break1"></div>
<!-- THIRD CONTAINER -->
		<div id="third_container">
<!-- ABOUT THE BRIDE -->
			<div id="bride_bio" class="container">
				<h3>About the Bride</h3>
					<div class="container" id="bride_bio_p">
						<p>Nicole Mika Young was born on September 24th, 1987. This was just hours after Jodell Kadowaki had left the hospital with newborn son, Brett Tatsuo Kadowaki. It takes some people decades to find what they're good at--what they were meant to be. It only took Nicole 1 year, 358 days before becoming the world's best big sister. Nicole is extremely family oriented, as her accolades also include being the best daughter, granddaughter, and neice. She is a true proponent of the adage that love is an action, not an emotion. While at times emotionally awkward if/when feelings are vocalized, Nicole would be the first to cook up a stew as soon as she hears that you are sick. When most would avoid eye-contact upon hearing that you have an inbound flight to LAX landing at 10:00pm, Nicole, again, would be the first to volunteer to pick you up.</p>
						<p>Nicole is incapable of being disingenuous. Her lying is almost as bad as her hand-eye coordination. Other than those two things, she doesn't have many faults. It is extremely rare to find such a perfect mixture of humility, rationality, authenticity, and kindness in one person, but that's exactly who she is.</p>
						<p>All of these qualities are a testament to how well Nicole was raised. Additionally, Janet Young also put an emphasis on de-emphasizing the importance of outer appearance, and therefore Nicole doesn't perceive the world like the rest of us. She treats everyone exactly the same regardless of looks, and prides herself more in her own character rather than appearance. Coincidentally, she's drop dead gorgeous. Like, stunningly gorgeous. Like perfect hair, perfect skin, beautiful eyes, everything.</p> 
						<p>As I mentioned earlier, she is full of humility, and is going to absolutely hate that I posted all of this online. However, she does not know how to change the text, so it's staying.</p>
						<p>TL;DR--I am marrying an unbelievable woman, and I'm reminded of it everyday in everything she does.</p>
					</div>
			</div>
		</div>


<!-- BACKGROUND BREAK -->
	<div id="break2"></div>
<!-- FOURTH CONTAINER -->
		<div id="fourth_container">
<!-- ABOUT THE GROOM -->
			<div id="groom_bio" class="container">
				<h3>About the Groom</h3>
					<div class="container" id="groom_bio_p">
						<p>The bride made me change the interface of this site a bajallion times. Lorem ipsum? Lorin ipsum? Lorin is sum? Lorin is fun? Lorin is fun. Words words words. word. Tryign to fill up space. More space. Even more. Palabras. Text text text, more words, words and words.</p>
						<p>Second paragraph is better than the first paragraph. It will be more succinct, but more profound. So profound.</p>
					</div>
			</div>
		</div>


<!-- BACKGROUND BREAK -->
	<div id="break3"></div>
<!-- FIFTH CONTAINER -->
		<div id="fifth_container">
<!-- WEDDING PARTY GRID -->
			<div id="party_grid" class="container">
				<div id="bretts_side">
					<div class="grid_box barry_style" id="barry"></div>
					<div class="grid_box jodell_style" id="jodell"></div>
					<div class="grid_box brett_grid_box" id="travis"></div>
					<div class="grid_box brett_style" id="brett"></div>
					<div class="grid_box brett_grid_box" id="brandon"></div>
					<div class="grid_box brett_grid_box" id="ian"></div>
					<div class="grid_box brett_grid_box" id="matt"></div>
					<div class="grid_box brett_grid_box" id="kevin"></div>
				</div>

				<div id="nicoles_side">					
					<div class="grid_box janet_style" id="janet"></div>
					<div class="grid_box mark_style" id="mark"></div>
					<div class="grid_box kelly_style" id="kelly"></div>
					<div class="grid_box nicole_grid_box" id="lisa"></div>
					<div class="grid_box nicole_grid_box" id="kathleen"></div>
					<div class="grid_box nicole_grid_box" id="kristina"></div>
					<div class="grid_box nicole_grid_box" id="yuri"></div>
					<div class="grid_box nicole_grid_box" id="kim"></div>
				</div>

				<div id="tiny_side">
					<div class="grid_box bat_style" id="bat"></div>
					<div class="grid_box kenz_style" id="makenzie"></div>
				</div>
		
				<div id="display_box" class="disp_class"><%= image_tag "bridalpartytext.png" %></div>
			</div>
		</div>


<!-- BACKGROUND BREAK -->
	<div id="break4"></div>
<!-- SIXTH CONTAINER -->
		<div id="sixth_container">
<!-- DETAILS -->
			<div id="details" class="container">
<!-- DETAILS CAROUSEL -->
				<div id="carousel2" class="carousel slide" data-ride="carousel">
  				<!-- Indicators -->
				  <ol class="carousel-indicators">
				    <li data-target="#carousel2" data-slide-to="0" class="active"></li>
				    <li data-target="#carousel2" data-slide-to="1"></li>
				    <li data-target="#carousel2" data-slide-to="2"></li>
				  </ol>

				  <!-- Wrapper for slides -->
				  <div class="carousel-inner">
				    <div class="item active">
				      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13214.895422430469!2d-118.318309!3d34.102214!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x268c24c63191d3fe!2sThe+Lombardi+House!5e0!3m2!1sen!2sus!4v1411259749940" width="100%" height="450" frameborder="0" style="border:0"></iframe>
				      <div class="carousel-caption">
				      </div>
				    </div>
				    <div class="item">
				     	<%= image_tag "lomb1.jpg"%>
				      <div class="carousel-caption">
				      </div>
				    </div>				    
				    <div class="item">
				     	<%= image_tag "lomb2.jpg"%>
				      <div class="carousel-caption">
				      </div>
				    </div>
				  </div>

				  <!-- Controls -->
				  <a class="left carousel-control" href="#carousel2" role="button" data-slide="prev">
				    <span class="glyphicon glyphicon-chevron-left"></span>
				  </a>
				  <a class="right carousel-control" href="#carousel2" role="button" data-slide="next">
				    <span class="glyphicon glyphicon-chevron-right"></span>
				  </a>
				</div>

			</div>
		
		</div>


<!-- BACKGROUND BREAK -->
	<div id="break5"></div>
<!-- SEVENTH CONTAINER -->
		<div id="seventh_container">
<!-- REGISTRY -->
			<div id="registry" class="container">
			</div>

		</div>


<!-- BACKGROUND BREAK -->
	<div id="break6"></div>
<!-- EIGHTH CONTAINER -->
		<div id="eighth_container">
<!-- RSVP -->
				<div id="rsvp" class="container">
						<button class="btn btn-info btn-lg" data-toggle="modal" data-target="#rsvp_modal">
						  RSVP
						</button>

					<div class="modal fade" id="rsvp_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  		<div class="modal-dialog">
			    		<div class="modal-content">
			      		<div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					        <h4 class="modal-title" id="myModalLabel">RSVP</h4>
			      		</div>
			      <div class="modal-body">
							<%= form_for @rsvp, url: {controller: 'rsvps', action: 'create'}, method: 'post', class: 'form-horizontal' do |f| %>

								<%= f.label :phone %>
								<%= f.text_field :phone, class: 'form-control' %>
								
								<%= f.label :attending %>
								<%= f.text_field :attending, class: 'form-control' %>								

								<%= f.label :name1 %>
								<%= f.text_field :name1, class: 'form-control' %>

								<%= f.label :name2 %>
								<%= f.text_field :name2, class: 'form-control' %>

								<%= f.label :name3 %>
								<%= f.text_field :name3, class: 'form-control' %>							

								<%= f.label :name4 %>
								<%= f.text_field :name4, class: 'form-control' %>								

								<%= f.label :name5 %>
								<%= f.text_field :name5, class: 'form-control' %>

							  <%= f.submit "Submit" %>
							<% end %>
			      </div>
						<div class="modal-footer">
								  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								</div>
			    		</div>
			  		</div>

					</div>
				</div>
		</div>
<footer>
	<div id="foot">
		<%= image_tag "batfacetiny.png"%>
		<p>site built by groom</p>
<!-- BACKGROUND MUSIC -->
<!-- 		<iframe width="0" height="0" src="https://www.youtube.com/embed/0sgenkjmXZ4?autoplay=1" frameborder="0" allowfullscreen id="music"></iframe> -->
	</div>
</footer>	
