<div class="main_container">
<!-- HEADER HTML -->
		<header div="header_container">
			<%= image_tag "headertext1.png", class: "img-responsive", id: "header_text" %>
		</header>
</div>
<!-- NAV BAR HTML -->
<%= render partial: 'layouts/navbar' %>

<!-- SECOND CONTAINER -->
	<div id="second_container">
<!-- CAROUSEL HTML -->
		<div id="carousel-example-generic" class="carousel slide container" data-ride="carousel">
		  <!-- Indicators -->
		  <ol class="carousel-indicators">
		    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
		    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
		    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
		    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
		  </ol>

		  <!-- Wrapper for slides -->
		  <div class="carousel-inner">
		    <div class="item active">
		      <%= image_tag "nicoleandbrett-352.jpg" %>
		      <div class="carousel-caption">
		    
		      </div>
		    </div>
		    <div class="item">
		      <%= image_tag "nicoleandbrett-1192.jpg" %>
		      <div class="carousel-caption">
		    
		      </div>
		    </div>
		    <div class="item">
		      <%= image_tag "nicoleandbrett-199.jpg" %>
		      <div class="carousel-caption">
		    
		      </div>
		    </div>
		    <div class="item">
		      <%= image_tag "nicoleandbrett-1832.jpg" %>
		      <div class="carousel-caption">
		    
		      </div>
		    </div>
		  </div>

		  <!-- Controls -->
		  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
		    <span class="glyphicon glyphicon-chevron-left"></span>
		  </a>
		  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
		    <span class="glyphicon glyphicon-chevron-right"></span>
		  </a>
		</div>
	</div>


<!-- BACKGROUND BREAK -->
	<div id="break1"></div>
<!-- THIRD CONTAINER -->
		<div id="third_container">
<!-- ABOUT THE BRIDE -->
			<div id="bride_bio" class="container">
			</div>
		</div>


<!-- BACKGROUND BREAK -->
	<div id="break2"></div>
<!-- FOURTH CONTAINER -->
		<div id="fourth_container">
<!-- ABOUT THE GROOM -->
			<div id="groom_bio" class="container">
			</div>
		</div>


<!-- BACKGROUND BREAK -->
	<div id="break3"></div>
<!-- FIFTH CONTAINER -->
		<div id="fifth_container">
<!-- WEDDING PARTY GRID -->
			<div id="party_grid" class="container">
				<div id="bretts_side">
					<div class="grid_box brett_grid_box brett_grid_box" id="barry"><%= image_tag "barry.png"%></div>
					<div class="grid_box brett_grid_box" id="jodell"><%= image_tag "jodell.png"%></div>
					<a href=""><div class="grid_box brett_grid_box" id="travis"><%= image_tag "groomsman.png"%></div></a>
					<div class="grid_box brett_grid_box" id="brett"><%= image_tag "brett.png"%></div>
					<div class="grid_box brett_grid_box" id="brandon"><%= image_tag "groomsman.png"%></div>
					<div class="grid_box brett_grid_box" id="ian"><%= image_tag "groomsman.png"%></div>
					<a href=""><div class="grid_box brett_grid_box" id="matt"><%= image_tag "groomsman.png"%></div></a>
					<div class="grid_box brett_grid_box" id="kevin"><%= image_tag "groomsman.png"%></div>
				</div>

				<div id="nicoles_side">					
					<div class="grid_box nicole_grid_box" id="janet"><%= image_tag "janet.png"%></div>
					<a href=""><div class="grid_box nicole_grid_box" id="mark"><%= image_tag "mark.png"%></div></a>
					<div class="grid_box nicole_grid_box" id="kelly"><%= image_tag "kelly.png"%></div>
					<div class="grid_box nicole_grid_box" id="lisa"><%= image_tag "bridesmaid.png"%></div>
					<div class="grid_box nicole_grid_box" id="kathleen"><%= image_tag "bridesmaid.png"%></div>
					<div class="grid_box nicole_grid_box" id="kristina"><%= image_tag "bridesmaid.png"%></div>
					<div class="grid_box nicole_grid_box" id="yuri"><%= image_tag "bridesmaid.png"%></div>
					<div class="grid_box nicole_grid_box" id="kim"><%= image_tag "bridesmaid.png"%></div>
				</div>

				<div id="tiny_side">
					<div class="grid_box brett_grid_box" id="bat"><%= image_tag "bat.png"%></div>
					<div class="grid_box nicole_grid_box" id="makenzie"><%= image_tag "kenz.png"%></div>
				</div>
		
				<div id="display_box" class="disp_class"><%= image_tag "bridalpartytext.png" %></div>
			</div>
		</div>


<!-- BACKGROUND BREAK -->
	<div id="break4"></div>
<!-- SIXTH CONTAINER -->
		<div id="sixth_container">
<!-- LOGISTICS -->
			<div id="logistics" class="container">
			</div>
		
		</div>


<!-- BACKGROUND BREAK -->
	<div id="break5"></div>
<!-- SEVENTH CONTAINER -->
		<div id="seventh_container">
<!-- REGISTRY -->
			<div id="registry" class="container">
			</div>

		</div>


<!-- BACKGROUND BREAK -->
	<div id="break6"></div>
<!-- EIGHTH CONTAINER -->
		<div id="eighth_container">
<!-- RSVP -->
				<div id="rsvp" class="container">
					<button class="btn btn-info btn-lg" data-toggle="modal" data-target="#rsvp_modal">
					  RSVP
					</button>

					<div class="modal fade" id="rsvp_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  		<div class="modal-dialog">
			    		<div class="modal-content">
			      		<div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					        <h4 class="modal-title" id="myModalLabel">RSVP</h4>
			      		</div>
			      <div class="modal-body">
							<%= form_for @rsvp, url: {controller: 'rsvps', action: 'create'}, method: 'post', class: 'form-horizontal' do |f| %>

								<%= f.label :phone %>
								<%= f.text_field :phone, class: 'form-control' %>
								
								<%= f.label :attending %>
								<%= f.text_field :attending, class: 'form-control' %>								

								<%= f.label :name1 %>
								<%= f.text_field :name1, class: 'form-control' %>

								<%= f.label :name2 %>
								<%= f.text_field :name2, class: 'form-control' %>

								<%= f.label :name3 %>
								<%= f.text_field :name3, class: 'form-control' %>							

								<%= f.label :name4 %>
								<%= f.text_field :name4, class: 'form-control' %>								

								<%= f.label :name5 %>
								<%= f.text_field :name5, class: 'form-control' %>

							  <%= f.submit "Submit" %>
							<% end %>
			      </div>
						<div class="modal-footer">
								  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								</div>
			    		</div>
			  		</div>

					</div>
				</div>
		</div>

<footer>
	<div id="foot">
		<%= image_tag "batfacetiny.png"%>
		<p>site built by groom</p>
	</div>
</footer>	
