<div class="main_container">
<!-- HEADER HTML -->
		<header div="header_container">
			<%= image_tag "headertext1.png", class: "img-responsive", id: "header_text" %>
		</header>
</div>
<!-- NAV BAR HTML -->
<%= render partial: 'layouts/navbar' %>

<!-- SECOND CONTAINER -->
	<div id="second_container">
<!-- CAROUSEL HTML -->
		<div id="carousel1" class="carousel slide container" data-ride="carousel">
		  <!-- Indicators -->
		  <ol class="carousel-indicators">
		    <li data-target="#carousel1" data-slide-to="0" class="active"></li>
		    <li data-target="#carousel1" data-slide-to="1"></li>
		    <li data-target="#carousel1" data-slide-to="2"></li>
		    <li data-target="#carousel1" data-slide-to="3"></li>		    
		    <li data-target="#carousel1" data-slide-to="4"></li>		    
		    <li data-target="#carousel1" data-slide-to="5"></li>
		  </ol>

		  <!-- Wrapper for slides -->
		  <div class="carousel-inner">
		    <div class="item active">
		      <%= image_tag "car4.jpg" %>
		      <div class="carousel-caption">
		    
		      </div>
		    </div>
		    <div class="item">
		      <%= image_tag "car5.jpg" %>
		      <div class="carousel-caption">
		    
		      </div>
		    </div>
		    <div class="item">
		      <%= image_tag "car7.jpg" %>
		      <div class="carousel-caption">
		    
		      </div>
		    </div>
		    <div class="item">
		      <%= image_tag "car3.jpg" %>
		      <div class="carousel-caption">
		    
		      </div>
		    </div>		    
		    <div class="item">
		      <%= image_tag "car1.jpg" %>
		      <div class="carousel-caption">
		    
		      </div>
		    </div>		    
		    <div class="item">
		      <%= image_tag "car6.jpg" %>
		      <div class="carousel-caption">
		    
		      </div>
		    </div>
		  </div>

		  <!-- Controls -->
		  <a class="left carousel-control" href="#carousel1" role="button" data-slide="prev">
		    <span class="glyphicon glyphicon-chevron-left"></span>
		  </a>
		  <a class="right carousel-control" href="#carousel1" role="button" data-slide="next">
		    <span class="glyphicon glyphicon-chevron-right"></span>
		  </a>
		</div>
	</div>


<!-- BACKGROUND BREAK -->
	<div id="break1"></div>
<!-- THIRD CONTAINER -->
		<div id="third_container" class="conts">
<!-- ABOUT THE BRIDE -->
			<div id="bride_bio" class="container">
				<h3>About the Bride</h3>
				<hr id="bride-hr">
					<div class="container" id="bride_bio_p">
						<p>Nicole Mika Young was born on September 24th, 1987. This was just hours after Jodell Kadowaki had left the hospital with newborn son, Brett Tatsuo Kadowaki. It takes some people decades to find what they're good at--what they were meant to be. Nicole was 1 year and 358 days old before becoming the world's best big sister. Nicole is extremely family oriented, as her accolades also include being the best daughter, granddaughter, and neice. She is a true proponent of the adage that love is an action, not an emotion. While at times emotionally awkward if/when feelings are vocalized, Nicole would be the first to cook up a stew if she found out that you were sick. When most would avoid eye-contact upon hearing that you have an inbound LAX flight landing at 10:00pm, Nicole, again, would be the first to volunteer to pick you up.</p>
						<p>Nicole is incapable of being disingenuous. Her lying is almost as bad as her hand-eye coordination. Beyond that, she doesn't have many faults. It is extremely rare to find such a perfect mixture of humility, rationality, authenticity, and kindness in one person, but that's exactly who she is.</p>
						<p>All of these qualities are a testament to how well Nicole was raised. Janet and Mark also put an emphasis on de-emphasizing the importance of outer appearance, and therefore Nicole doesn't perceive the world like the rest of us. She treats everyone exactly the same regardless of looks, and prides herself more in her own character rather than appearance. Ironically, she's drop dead gorgeous. Like, stunningly gorgeous. Like perfect hair, perfect skin, beautiful eyes, everything.</p> 
						<p>As I mentioned earlier, she is full of humility and will absolutely hate that I posted all of this online. However, she doesn't know how to change the text, so it's staying.</p>
						<p>TL;DR--I am marrying an unbelievable woman, and I'm reminded of it everyday in everything she does.</p>
					</div>
			</div>
		</div>


<!-- BACKGROUND BREAK -->
	<div id="break2"></div>
<!-- FOURTH CONTAINER -->
		<div id="fourth_container" class="conts">
<!-- ABOUT THE GROOM -->
			<div id="groom_bio" class="container">
				<h3>About the Groom</h3>
				<hr id="groom-hr">
					<div class="container" id="groom_bio_p">
						<p>When you think of Brett Kadowaki (and really visualize him in your head - do it now), you'll probably first smile, then chuckle, then smirk. The smirk is my favorite part because Brett is probably one of the funniest, wittiest, most charismatic people you'll ever encounter. He loves to laugh and make others laugh, and he frequently does both. One of the best things about our relationship is that we're constantly laughing, something I will always cherish and never take for granted.</p>
						<p>Although I've known Brett almost my entire life, it wasn't until 7 years ago while studying at UC San Diego that I really got to know him for who for who he truly is. Over the course of our relationship I have learned many things about him (like his aversion to trying new foods, and his obsession for collecting ugly socks) but one of the things that stands out above all is his giving heart.  He has a passion for charity, but does it quietly so that it goes unnoticed by most. So many of the things Brett does for others come from a place of true generosity and care, something I have always respected and admired him for.</p>
						<p>This also makes Brett one of the greatest present-giver's. If you've ever received a gift from Brett chances are its something you never knew you needed but were so thrilled to get, becoming one of your new favorite possessions.  He's extremely thoughtful in that way.</p>
						<p>I have been called lucky by many people for many reasons, but I can say without a doubt that what has and will always make me feel like the luckiest person is <s>having Brett as my husband</s> becoming Batman's mommy.  Brett has been a true blessing in my life and I know that faith will always keep us together.</p>
					</div>
			</div>
		</div>


<!-- BACKGROUND BREAK -->
	<div id="break3"></div>
<!-- FIFTH CONTAINER -->
		<div id="fifth_container">
<!-- WEDDING PARTY GRID -->
			<div id="party_grid" class="container">
				<div id="bretts_side">
					<div class="grid_box barry_style" id="barry"></div>
					<div class="grid_box jodell_style" id="jodell"></div>
					<div class="grid_box brett_grid_box" id="travis"></div>
					<div class="grid_box brett_style" id="brett"></div>
					<div class="grid_box brett_grid_box" id="brandon"></div>
					<div class="grid_box brett_grid_box" id="ian"></div>
					<div class="grid_box brett_grid_box" id="matt"></div>
					<div class="grid_box brett_grid_box" id="kevin"></div>
				</div>

				<div id="nicoles_side">					
					<div class="grid_box janet_style" id="janet"></div>
					<div class="grid_box mark_style" id="mark"></div>
					<div class="grid_box kelly_style" id="kelly"></div>
					<div class="grid_box nicole_grid_box" id="lisa"></div>
					<div class="grid_box nicole_grid_box" id="kathleen"></div>
					<div class="grid_box nicole_grid_box" id="kristina"></div>
					<div class="grid_box nicole_grid_box" id="yuri"></div>
					<div class="grid_box nicole_grid_box" id="kim"></div>
				</div>

				<div id="tiny_side">
					<div class="grid_box bat_style" id="bat"></div>
					<div class="grid_box kenz_style" id="makenzie"></div>
				</div>
		
				<div id="display_box" class="disp_class"><%= image_tag "bridalpartytext.png" %></div>
			</div>
		</div>


<!-- BACKGROUND BREAK -->
	<div id="break4"></div>
<!-- SIXTH CONTAINER -->
		<div id="sixth_container" class="conts">
			<h3 id="location-header">Location</h3>
			<hr id="location-hr">
<!-- LOCATION -->
			<div id="location" class="container">
<!-- LOCATION CAROUSEL -->
				<div id="carousel2" class="carousel slide" data-ride="carousel">
  				<!-- Indicators -->
				  <ol class="carousel-indicators">
				    <li data-target="#carousel2" data-slide-to="0" class="active"></li>
				    <li data-target="#carousel2" data-slide-to="1"></li>
				  </ol>

				  <!-- Wrapper for slides -->
				  <div class="carousel-inner">
				    <div class="item active">
				      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13214.895422430469!2d-118.318309!3d34.102214!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x268c24c63191d3fe!2sThe+Lombardi+House!5e0!3m2!1sen!2sus!4v1411259749940" width="100%" height="379" frameborder="0" style="border:0"></iframe>
				      <div class="carousel-caption">
				      </div>
				    </div>
				    <div class="item">
				     	<%= image_tag "lombardi.jpg"%>
				      <div class="carousel-caption">
				      </div>
				    </div>				    
				  </div>

				  <!-- Controls -->
				  <a class="left carousel-control" href="#carousel2" role="button" data-slide="prev">
				    <span class="glyphicon glyphicon-chevron-left"></span>
				  </a>
				  <a class="right carousel-control" href="#carousel2" role="button" data-slide="next">
				    <span class="glyphicon glyphicon-chevron-right"></span>
				  </a>
				</div>

			</div>
		
		</div>


<!-- BACKGROUND BREAK -->
	<!-- <div id="break5"></div> -->
<!-- SEVENTH CONTAINER -->
		<!-- <div id="seventh_container" class="conts"> -->
<!-- REGISTRY -->
<!-- 			<div id="registry" class="container">
			</div>

		</div> -->


<!-- BACKGROUND BREAK -->
	<div id="break6"></div>
<!-- EIGHTH CONTAINER -->
		<div id="eighth_container" class="conts">
<!-- DETAILS -->
			<div id="details" class="container">
				<div>
					<h3>Details</h3>
					<hr id="details-hr">
					<div class="details-container">
						<p class="details-p">
							<div class="row">
								<div class="col-md-3 title">
									Time:
								</div>
								<div class="col-md-9 description">
									The ceremony will begin promptly at 4:45pm followed by cocktails, dinner, music, and dancing
								</div>								
							</div>
							<div class="row">
								<div class="col-md-3 title">
									Attire:
								</div>
								<div class="col-md-9 description">
									Cocktail Attire (this is not a black tie event so please feel free to wear anything that won't restrict your dance moves!) For the ladies, comfortable shoes are encouraged :)
								</div>								
							</div>
							<div class="row">
								<div class="col-md-3 title">
									Parking:
								</div>
								<div class="col-md-9 description">
									Upon arrival at Lombardi House, please leave your car with the valet service and they will take good care of your cars
								</div>
							</div>
						</p>
					</div>
				</div>
			</div>
		</div>
<footer>
	<div id="foot">
		<%= image_tag "batfacetiny.png"%>
		<p>site built by groom</p>
<!-- BACKGROUND MUSIC -->
<!-- 		<iframe width="0" height="0" src="https://www.youtube.com/embed/0sgenkjmXZ4?autoplay=1" frameborder="0" allowfullscreen id="music"></iframe> -->
	</div>
</footer>	
